
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(255, 255, 255);
}
.main {
    display: flex;
    min-height: 100vh;

}
.left{
    display: flex;
    flex: 1;
    background-color: aliceblue;
    padding: 100px 50px;
    justify-content: center;
    flex-direction: column;
}
.right{
    display: flex;
    flex: 1;
    background-color:#E3E37F;
    /* align-items: center; */
    /* justify-content: center; */
}
.right img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  align-items: end;
  
}
.buttons{
  margin-top: 30px;
 
}
.job{
    color: rgb(175, 127, 68);
    font-weight: bold;
    margin-bottom: 30px;
}
.name{
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.btn_for_about{
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.btn_for_hire{
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #b59f3b;
  color: white;
}
.navbar{
    background-color:#31260e;
    color: white;
    justify-items: center;
   
    
}
.navcontainer  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  
 
  

}
#a12:hover{
  color: rgb(224, 217, 116);
}
.navcontainer a{
    margin: 0 10px;
    color: white;
    text-decoration:none;
    font-weight: bold;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
}
.all{
  padding: 40px;
  text-align: left;
  
 
 
  
}
.sub{
  background-color: rgb(212, 212, 186);
   min-height: 100vh;
   /* border-radius: 1cm; */

}
.sub2{
  background-color: beige;
}
.inner_sub{
  display: flex;
  flex-direction: row;
  gap: 450px;
  margin-left: 20px;
  /* flex: 1; */
  /* justify-content: space-between; */
 


}
.input_message{
  display: flex; 
  flex-direction: column; 
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  
} 
input{
  height: 25px;
  width: 300px;
  border-radius: 5px;
}
.main1{
 align-items: center;
 margin-top: 1px;


}
textarea{
  height: 25px;
  width: 300px;
  border-radius: 5px;
}
button{
   height: 25px;
  width: 100px;
}
#abt_btn{ 
  text-decoration: none;
  padding: 20px 10px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #b59f3b;
  color: white;  
}
#project_bcg{
  background-color: #1c1f26;

}
#project{
  text-align: center;
  gap: 10px;
  
}
#project img{
  width: 300px;
  height: 300px;
  padding:10px;
  
}
#project_all{
 justify-items: center;
 transition: all 0.3s ease;
  
}
#abt{
  background-color: #1c1f26;
}
#new1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  flex-wrap: wrap;
  color: #fff;
}

#new2{
  flex: 1;
  min-width: 300px;
}
#new2 h1{
  font-size: 48px;
  font-weight: 700;
  color: #ffff;

}
#new2 h2 {
      font-size: 36px;
      color: #1da1f2;
      margin-top: 10px;
}
#new2 p {
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.6;
      color: #ccc;
      max-width: 600px;
}
#socials{
  
  margin-top: 30px;
  gap: 20px;
}
#socials a {
    /* color: #ccc;
    font-size: 22px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
    justify-content: center;
    align-items: center; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #202328;
  border-radius: 50%;
  color: #ccc;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
    
}
#socials a:hover {
  color: #ffffff;
  background-color: #000000;
  
}
